<div class="col-md-12">
    <h2 class="display-2 h2-responsive">Sammarbeidspartnere</h2>
    <div class="partner-wrapper">

        <section class="partner-container">
            <h2 class="display-4">Bedriftsnavn</h2>
            <div class="avatar avatar-image">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%288%29.jpg"
                     class="rounded-circle img-responsive">
            </div>
        </section>

        <section class="partner-container">
            <h2 class="display-4">Bedriftsnavn</h2>
            <div class="avatar avatar-image">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%288%29.jpg"
                     class="rounded-circle img-responsive">
            </div>
        </section>

        <section class="partner-container">
            <h2 class="display-4">Bedriftsnavn</h2>
            <div class="avatar avatar-image">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%288%29.jpg"
                     class="rounded-circle img-responsive">
            </div>
        </section>

    </div>
</div>
