<div class="row">
    <div class="col-md-12">
        <div class="view overlay hm-white-light z-depth-2">
            <img src="https://mdbootstrap.com/images/proffesions/slides/socialmedia/img%20(2).jpg" class="img-fluid " alt="">
            <div class="mask"></div>
        </div>
    </div>

</div>

</div>
<div class="row z-depth-1-half">
    <div class="col-md-4 yellow subcategory-box hoverable"><h1 class="h1-responsive display-4">Lær Kidsa Koding <i class="fa fa-child" aria-hidden="true"></i></h1></div>
    <div class="col-md-4 purple subcategory-box hoverable"><h1 class="h1-responsive display-4">Hackathon <i class="fa fa-code" aria-hidden="true"></i></h1></div>
    <div class="col-md-4 green subcategory-box hoverable"><h1 class="h1-responsive display-4">Kreativ Aften <i class="fa fa-comments" aria-hidden="true"></i></h1></div>
</div>
<br />