
<div ng-controller="PartialsController as pc" class="row page-article" >

    <section class="card card-block consultant-container">
        <div class="avatar avatar-image">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%288%29.jpg"
                 class="rounded-circle img-responsive">
        </div>
        <h2 class="display-4">Navn Navnesen</h2>
        <p class="consultant-bio">Informasjon om Navnesen</p>
        <p><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci</p>
        <button class="btn btn-block btn-outline-white">Klikk</button>
    </section>

</div>